.banner {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("./web.jpg.jpg") no-repeat center;
    background-size: cover;
    background-position: center;

}

.navbar {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.navbar ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid red;
    list-style-type: style
}

 .navbar ul li a::after{
    content: ' ';
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -10px;

} 
.center{
    color: white;
    position:flex;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: style;

    
}
.home {
    color:white;
    position: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary { 
    width: 500px;
    margin-left: 250px;
    font-weight: bold;
    color: dodgerblue;
    padding: 8px;
    border: thin solid grey;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%; 
    border-width: 2px;
   
}
.btn :hover
{
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    background-position: 15px;
    border-bottom: 5px rgb(4, 69, 155);
    list-style-type: style;
    background-color: aqua;
}
.new{
    margin-top: 20px;
    border-radius: 100%;
    size: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


